@import './element-ui/var.scss';

$--space-base: 12px;
$--space-sm: 6px;
$--space-md: 16px;
$--space-lg: 24px;

$--background-color-dark: #1a1b1f;

// 后台布局
$--admin-header-height: 56px;
$--admin-nav-height: 36px;
$--admin-footer-height: 40px;

